<style type="text/css">
<!--
.Fondotitulo{
 background-color:#83995D;
}

.Fondofindesemana{
 background-color:#CCC17A;
}

.Fondodiaactual{
 background-color: #E6E1BC;
}

.Fondodialaboral{
 background-color:#ffffff;
}

.Fondosemana{
 background-color:#C4E689;
 color: #000000;
}

.Textomesactual{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #000000;
 text-decoration: none;
}

.Textodiferentemes{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #000000;
 text-decoration: none;
}

.Textoborrar {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}

.Textotitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color:#83995D;
}

.TextoActual {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

-->
</style>