@import url("displaytag.css");

@import url("alternative.css");

@import url("teststyles.css");

acronym {
	border-bottom: 1px dashed #000;
	cursor: help;
}

ul#stylelist {
	margin: 0 0 20px 0;
	height: 20px;
	padding: 0;
}

ul#stylelist li {
	list-style-type: none;
	float: left;
	width: 100px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 2px;;
	float: left;
	width: 100px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 2px;
	margin: 0 2px 0 0;
}

ul#showsource {
	float: right;
	padding: 0;
	margin: 15px 20px 0 0;
	width: 100px;
	height: 33px;
	list-style-type: none;
	background-image: url("../img/viewsource.png");
	background-repeat: no-repeat;
	margin-bottom: -30px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}

ul#showsource a,ul#showsource a:visited {
	font-size: 11px;
	font-family: verdana;
	color: #fff;
}

table.sublist {
	margin: 0 0 0 0;
	width: 100%;
}

table.sublist td,table.sublist th {
	width: 50%;
}

code {
	background-color: #eee;
	padding: 0 2px 0 2px;
}

hr {
	height: 1px;
	color: #fff;
	border: none;
	border-top: 1px dotted #ccc;
	margin: 20px 0 20px 0;
	width: 50%;
}

.error {color:#ff0000; font-weight:bold;}

input.formulario{background:#f6f6f6;font-size:11px;padding:2px 4px;border:#aaa 1px solid;color:#222;}
input.formulario:hover{border:#c00 1px solid;}
input:focus{background-color:#ffc;}