#circulo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#circulo > p {
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#huevo {
    width: 14rem;
    height: 18rem;
    margin-left: 50px;
    background-color: #F0EAD6;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#huevo > p {
    font-family: sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.contenedorPrincipal{
    margin-top: 150px;
}